#This workflow is for testing the code present in this repository
name: build-pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: docker login -u ${{secrets.DOCKER_USER}} -p ${{secrets.DOCKER_PASSWORD}}
      - run: docker build -t ${{secrets.DOCKER_USER}}/prod_docker_app -f Dockerfile.dev .
      - run: docker run -e CI=true ${{secrets.DOCKER_USER}}/prod_docker_app npm run test
